@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer components {
  .nav-link {
    position: relative;
  }
}

.nav-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: currentColor;
  transition: width 0.3s;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.nav-link:hover::after {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
